<form method="post" action="{{ path('player_delete', {'id': player.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
