{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Player'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Player'|trans }}</h1>

    {{ include('player/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('player_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
