{% extends 'base.html.twig' %}

{% block title %}{{ 'Player index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Player index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Surname1'|trans }}</th>
                <th>{{ 'Surname2'|trans }}</th>
                <th>{{ 'Visible name'|trans }}</th>
                <th>{{ 'Nickname'|trans }}</th>
                <th>{{ 'Team'|trans }}</th>
                <th>{{ 'Position'|trans }}</th>
                <th>{{ 'Birth date'|trans }}</th>
                <th>{{ 'Player info'|trans }}</th>
                <th>{{ 'Dorsal'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.surname1 }}</td>
                <td>{{ player.surname2 }}</td>
                <td>{{ player.visibleName }}</td>
                <td>{{ player.nickname }}</td>
                <td>{{ player.team }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.birthDate ? player.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ player.playerInfo }}</td>
                <td>{{ player.dorsal }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('player_edit', {'id': player.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('player_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
