{% extends 'base.html.twig' %}

{% block title %}{{ 'New Player'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Player'|trans }}</h1>

    {{ include('player/_form.html.twig') }}

    <a href="{{ path('player_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
