{% extends 'base.html.twig' %}

{% block title %}{{ 'Player'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Player'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Surname1'|trans }}</th>
                <td>{{ player.surname1 }}</td>
            </tr>
            <tr>
                <th>{{ 'Surname2'|trans }}</th>
                <td>{{ player.surname2 }}</td>
            </tr>
            <tr>
                <th>{{ 'Visible name'|trans }}</th>
                <td>{{ player.visibleName }}</td>
            </tr>
            <tr>
                <th>{{ 'Nickname'|trans }}</th>
                <td>{{ player.nickname }}</td>
            </tr>
            <tr>
                <th>{{ 'Team'|trans }}</th>
                <td>{{ player.team }}</td>
            </tr>
            <tr>
                <th>{{ 'Position'|trans }}</th>
                <td>{{ player.position }}</td>
            </tr>
            <tr>
                <th>{{ 'Birth date'|trans }}</th>
                <td>{{ player.birthDate ? player.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Player info'|trans }}</th>
                <td>{{ player.playerInfo }}</td>
            </tr>
            <tr>
                <th>{{ 'Dorsal'|trans }}</th>
                <td>{{ player.dorsal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('player_edit', {'id': player.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
