<form method="post" action="{{ path('team_delete', {'id': team.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
