{{ form_start(form) }}
    {{ form_widget(form) }}
{#    <div class="tab-pane" id="image" role="tabpanel" aria-labelledby="image-tab" style="padding: 20px;">#}
{#        <div class="card-border mb-sm-3 border-light no-shadow card mb-2">#}
{#            <div class="widget-content">#}
{#                <h4 class="menu-header-title text-capitalize">{{ 'Upload image'|trans }}</h4>#}
{#                <div class="img-preview-container">#}
{#                    {{ form_row(form.imageFile) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <button class="btn">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}
