{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Team'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Team'|trans }}</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('team_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
