{% extends 'base.html.twig' %}

{% block title %}{{ 'Team index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Team index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Category'|trans }}</th>
                <th>{{ 'VisibleName'|trans }}</th>
                <th>{{ 'ShortName'|trans }}</th>
                <th>{{ 'CompleteName'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.category }}</td>
                <td>{{ team.visibleName }}</td>
                <td>{{ team.shortName }}</td>
                <td>{{ team.completeName }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
