{% extends 'base.html.twig' %}

{% block title %}{{ 'New Team'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Team'|trans }}</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('team_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
