{% extends 'base.html.twig' %}

{% block title %}{{ 'Team'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Team'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Category'|trans }}</th>
                <td>{{ team.category }}</td>
            </tr>
            <tr>
                <th>{{ 'VisibleName'|trans }}</th>
                <td>{{ team.visibleName }}</td>
            </tr>
            <tr>
                <th>{{ 'ShortName'|trans }}</th>
                <td>{{ team.shortName }}</td>
            </tr>
            <tr>
                <th>{{ 'CompleteName'|trans }}</th>
                <td>{{ team.completeName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('team_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('team_edit', {'id': team.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
