<form method="post" action="{{ path('staff_delete', {'id': staff.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ staff.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
