{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Staff'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Staff'|trans }}</h1>

    {{ include('staff/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('staff_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('staff/_delete_form.html.twig') }}
{% endblock %}
