{% extends 'base.html.twig' %}

{% block title %}{{ 'Staff index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Staff index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Surname1'|trans }}</th>
                <th>{{ 'Surname2'|trans }}</th>
                <th>{{ 'VisibleName'|trans }}</th>
                <th>{{ 'Job'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.name }}</td>
                <td>{{ staff.surname1 }}</td>
                <td>{{ staff.surname2 }}</td>
                <td>{{ staff.visibleName }}</td>
                <td>{{ staff.job }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
