{% extends 'base.html.twig' %}

{% block title %}{{ 'New Staff'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Staff'|trans }}</h1>

    {{ include('staff/_form.html.twig') }}

    <a href="{{ path('staff_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
