{% extends 'base.html.twig' %}

{% block title %}{{ 'Staff'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Staff'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ staff.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Surname1'|trans }}</th>
                <td>{{ staff.surname1 }}</td>
            </tr>
            <tr>
                <th>{{ 'Surname2'|trans }}</th>
                <td>{{ staff.surname2 }}</td>
            </tr>
            <tr>
                <th>{{ 'VisibleName'|trans }}</th>
                <td>{{ staff.visibleName }}</td>
            </tr>
            <tr>
                <th>{{ 'Job'|trans }}</th>
                <td>{{ staff.job }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('staff_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('staff_edit', {'id': staff.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('staff/_delete_form.html.twig') }}
{% endblock %}
