<form method="post" action="{{ path('season_delete', {'id': season.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
