{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Season'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Season'|trans }}</h1>

    {{ include('season/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('season_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
