{% extends 'base.html.twig' %}

{% block title %}{{ 'Season index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Season index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Year'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.name }}</td>
                <td>{{ season.year }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
