{% extends 'base.html.twig' %}

{% block title %}{{ 'Season'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Season'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ season.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Year'|trans }}</th>
                <td>{{ season.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
