@import "~bootstrap/scss/bootstrap";
@import "../archi/main.css";

body {
    background-color: white;
}

.app-header__logo .logo-src {
    width: 100%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}