<form method="post" action="{{ path('football_match_delete', {'id': football_match.id}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ football_match.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
