{{ form_start(form) }}
{{ form_errors(form) }}

<div class="nav-tabs-custom">
    <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
        <li class="nav-item">
            <a class="nav-link active" id="match-tab" data-toggle="tab" href="#match" role="tab"
               aria-selected="true">
                <span class="nav-text">{{ 'General data'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="garres-tab" data-toggle="tab" href="#garres" role="tab">
                <span class="nav-text">{{ 'Los Garres team'|trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="visitor-tab" data-toggle="tab" href="#visitor" role="tab">
                <span class="nav-text">{{ 'Visitor team'|trans }}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="match" role="tabpanel" aria-labelledby="match-tab" style="padding: 20px;">
            {{ form_row(form.matchDate) }}
            {{ form_row(form.stadium) }}
            {{ form_row(form.localScoreboard) }}
            {{ form_row(form.awayScoreboard) }}
            {{ form_row(form.season) }}
        </div>
        <div class="tab-pane" id="garres" role="tabpanel" aria-labelledby="garres-tab" style="padding: 20px;">
            {{ form_row(form.isLosGarresLocal) }}
            {{ form_row(form.losGarresTeam) }}
            {{ form_row(form.losGarresPlayers) }}
        </div>
        <div class="tab-pane" id="visitor" role="tabpanel" aria-labelledby="visitor-tab" style="padding: 20px;">
            {{ form_row(form.visitingTeamName) }}
            <ul class="visitingPlayers collection_form"
                data-prototype="{{ form_widget(form.visitingPlayers.vars.prototype)|e('html_attr') }}">

                {% for visitingPlayers in form.visitingPlayers %}
                    <li>{{ form_widget(visitingPlayers) }}</li>
                {% endfor %}
            </ul>
            <button type="button"
                    class="add_item_link add_item_link mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-info"
                    data-collection-holder-class="visitingPlayers">
                {{ 'Add player'|trans }}
            </button>
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save'|trans) }}</button>

{{ form_end(form) }}
