{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Match'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Match'|trans }}</h1>

    {{ include('football_match/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('football_match_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('football_match/_delete_form.html.twig') }}
{% endblock %}
