{% extends 'base.html.twig' %}

{% block title %}{{ 'Match index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Match index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'MatchDate'|trans }}</th>
                <th>{{ 'Stadium'|trans }}</th>
                <th>{{ 'LocalScoreboard'|trans }}</th>
                <th>{{ 'AwayScoreboard'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for football_match in football_matches %}
            <tr>
                <td>{{ football_match.id }}</td>
                <td>{{ football_match.matchDate ? football_match.matchDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ football_match.stadium }}</td>
                <td>{{ football_match.localScoreboard }}</td>
                <td>{{ football_match.awayScoreboard }}</td>
                <td>
                    <a href="{{ path('football_match_show', {'id': football_match.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('football_match_edit', {'id': football_match.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('football_match_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
