{% extends 'base.html.twig' %}

{% block title %}{{ 'New Match'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Match'|trans }}</h1>

    {{ include('football_match/_form.html.twig') }}

    <a href="{{ path('football_match_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
