{% extends 'base.html.twig' %}

{% block title %}{{ 'Match'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Match'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ football_match.id }}</td>
            </tr>
            <tr>
                <th>{{ 'MatchDate'|trans }}</th>
                <td>{{ football_match.matchDate ? football_match.matchDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Stadium'|trans }}</th>
                <td>{{ football_match.stadium }}</td>
            </tr>
            <tr>
                <th>{{ 'LocalScoreboard'|trans }}</th>
                <td>{{ football_match.localScoreboard }}</td>
            </tr>
            <tr>
                <th>{{ 'AwayScoreboard'|trans }}</th>
                <td>{{ football_match.awayScoreboard }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('football_match_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('football_match_edit', {'id': football_match.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('football_match/_delete_form.html.twig') }}
{% endblock %}
