<form method="post" action="{{ path('visiting_player_delete', {'id': visiting_player.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visiting_player.id) }}">
    <button class="btn">Delete</button>
</form>
