{% extends 'base.html.twig' %}

{% block title %}Edit VisitingPlayer{% endblock %}

{% block body %}
    <h1>Edit VisitingPlayer</h1>

    {{ include('visiting_player/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('visiting_player_index') }}">back to list</a>

    {{ include('visiting_player/_delete_form.html.twig') }}
{% endblock %}
