{% extends 'base.html.twig' %}

{% block title %}VisitingPlayer index{% endblock %}

{% block body %}
    <h1>VisitingPlayer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Dorsal</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>SoftDelete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visiting_player in visiting_players %}
            <tr>
                <td>{{ visiting_player.id }}</td>
                <td>{{ visiting_player.name }}</td>
                <td>{{ visiting_player.position }}</td>
                <td>{{ visiting_player.dorsal }}</td>
                <td>{{ visiting_player.createdAt ? visiting_player.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visiting_player.updatedAt ? visiting_player.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visiting_player.softDelete ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('visiting_player_show', {'id': visiting_player.id}) }}">show</a>
                    <a href="{{ path('visiting_player_edit', {'id': visiting_player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visiting_player_new') }}">Create new</a>
{% endblock %}
