{% extends 'base.html.twig' %}

{% block title %}New VisitingPlayer{% endblock %}

{% block body %}
    <h1>Create new VisitingPlayer</h1>

    {{ include('visiting_player/_form.html.twig') }}

    <a href="{{ path('visiting_player_index') }}">back to list</a>
{% endblock %}
