{% extends 'base.html.twig' %}

{% block title %}VisitingPlayer{% endblock %}

{% block body %}
    <h1>VisitingPlayer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visiting_player.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ visiting_player.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ visiting_player.position }}</td>
            </tr>
            <tr>
                <th>Dorsal</th>
                <td>{{ visiting_player.dorsal }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ visiting_player.createdAt ? visiting_player.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ visiting_player.updatedAt ? visiting_player.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SoftDelete</th>
                <td>{{ visiting_player.softDelete ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visiting_player_index') }}">back to list</a>

    <a href="{{ path('visiting_player_edit', {'id': visiting_player.id}) }}">edit</a>

    {{ include('visiting_player/_delete_form.html.twig') }}
{% endblock %}
